<% content_for :head do %>
  <title>KyaraList</title>
  <script async src="https://use.fontawesome.com/0fcd2e2f30.js"></script>
  <% if @is_mobile %>

  <% else %>
     <link rel="stylesheet" type="text/css" href="<%= Rails.application.config.asset_host %>/assets/app_style.css">
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render partial: "/partials/facebook_sdk" %>
  <script>
    window.storeData = <%== render( file: 'json/store_data.json.jbuilder', locals: {strings_partial: @strings_partial}) %>
  </script>
  <script crossOrigin="anonymous" src="<%= Rails.application.config.asset_host %>/assets/lib.js"></script>
  <script async crossOrigin="anonymous" src="<%= Rails.application.config.asset_host %>/assets/app.js"></script>
<% end %>
